@font-face {
  font-family: "Nexa";
  src: url('/fonts/nexa/NexaScript-Trial-Regular.otf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nexa";
  src: url('/fonts/nexa/NexaScript-Trial-SemiBold.otf');
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "OCR";
  src: url('/fonts/OCR.otf');
  font-style: normal;
  font-display: swap;
}
