.carousel{
  width: 100%;
  position: relative;

  &__main{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
  }

  &__preview{
    width: 90%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(30%, -10px) rotate(12.68deg);
  }
}